<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>938518663116-cha2t9nfrct6qi356oh4ejsmfnqp5kes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938518663116-cha2t9nfrct6qi356oh4ejsmfnqp5kes</string>
	<key>API_KEY</key>
	<string>AIzaSyA2i6HSliIFHmCaNf9TRbiFf7-M6SAJTTk</string>
	<key>GCM_SENDER_ID</key>
	<string>938518663116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vevek.Quotamin</string>
	<key>PROJECT_ID</key>
	<string>dazzling-inferno-8467</string>
	<key>STORAGE_BUCKET</key>
	<string>dazzling-inferno-8467.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:938518663116:ios:12fe8cc67946cc90</string>
	<key>DATABASE_URL</key>
	<string>https://dazzling-inferno-8467.firebaseio.com</string>
</dict>
</plist>